.footer {
    color: white;
    bottom: 0;
    background-color: #212121;
    display: grid;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
  .footer .containerNousContacter h1 {
    margin: 0 0 1rem 0.75rem;
    font-weight: 500;
    font-size: 1rem;
  }
  .footer .containerNousContacter h2 {
    font-weight: 400;
    font-size: 0.9rem;
  }
  .footer .containerNousContacter p {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
  .footer .containerNousContacter i {
    margin-right: 0.75rem;
  }
  .footer .containerNousContacter a {
    text-decoration: none;
    color: #E0E0E0;
    padding: 0.5rem 1rem 1rem 0;
    transition: all 300ms;
  }
  .footer .containerNousContacter a:hover {
    text-decoration: none;
    color: #5990de;
  }